#include "cmd_version.h"
#include "../src/cli.h"

int cmd_version_execute(int argc, const char **argv) {
  (void)argc;
  (void)argv;
  
  fun_console_write_line("fun v0.1.0");
  fun_console_write_line("Built with fundamental library");
  
  return 0;
}
